{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
</head>

<body {% if exception_occurred %}
    style="background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');" 
  {% else %}
  style="background-image: url('{{ image_url }}');"
  {% endif %}>
  <div class="container">
    <h1 class="heading">Weather App</h1>
    
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <div class="form-group" id="signup-button"></div>
      <a href="{% url 'LOGOUT' %}" class="btn btn-primary">Log Out</a>
      <!--Optional JavaScript
      jQuery first, then Popper.js, then Bootstrap JS-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
      <input type="text" name="city" placeholder="Enter City">
      <button type="submit" class="btn">Search</button>
    </form>
    <div class="weather">
      <div class="left">
        <h2 class="temp">{{ temp }}&#176; C</h2>
        <h2 class="city">{{ city }}</h2>
      </div>
      <div class="right">
        <div class="icon">
          <p><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="120px"></p>
        </div>
        <div class="condition">
          <p>{{ description }}</p>
          <p>{{ day }}</p>
        </div>
      </div>
    </div>
  </div>


{% if exception_occurred %}
    <script>
        window.onload = function() {
            alert("City information is not available to Weather API");
        }
    </script>
{% endif %}

</body>
</html>